
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#mapid {
  height: 70vh;
  width: 95vw; 
}

.leaflet-control-custom {
  background-color: white;
  padding: 5px;
  border-radius: 4px;
}

.leaflet-control-custom button {
  background: #f4f4f4;
  border: none;
  border-radius: 4px;
  margin: 2px;
  cursor: pointer;
}

.leaflet-control-custom button:hover {
  background: #e7e7e7;
}
